   @font-face {
       font-family: "Knockoff Times";
       /* Choose a name for your font */
       src: url("./nimbus-roman-regular-italic.otf") format("opentype");
       /* Path to your OTF file */
       font-weight: normal;
       /* Optional: Adjust as needed */
       font-style: italic;
       /* Optional: Adjust as needed */
   }

   body {
       color: rgb(255, 0, 0, 88);
       color: red;
       min-width: 100vw;
       min-height: 100vh;
       margin: 0px;
       padding: 0px;
       background-color: white;
       transition: background-color 1s ease;
       font-size: 24px;
       font-family: 'Times New Roman', 'Knockoff Times', Times, serif;
       display: block;
       justify-content: center;
       align-items: center;
       height: 100vh;
       overflow: hidden;
       cursor: none;
   }

   .red-shoe {
       height: 100%;
       width: auto;
       max-height: 100%;
       max-width: 100%;
   }


   #intro {
       position: absolute;
       top: 0;
       font-size: 1.3vw;
       width: 100vw;
       height: 100vh;
       color: red;
       background-color: white;
       text-align: center;
       cursor: pointer;
   }

   #intro-textbox {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   #title {
       font-style: italic;
   }

   .blink {
       animation: blinker 1.11s linear infinite;
   }

   @keyframes blinker {
       50% {
           opacity: 0;
       }
   }

   .current-obsession {
       width: 60%;
       text-align: left;
       position: absolute;
       font-style: italic;
       color: red;
       display: inline;
       font-family: 'Times New Roman', 'Knockoff Times', Times, serif;
   }

   mark {
       display: inline;
       background-color: white;
       color: red;
       opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
   }

   .shoe {
       position: absolute;
       max-width: 25vw;
   }

   .shoe img {
       /* max-width: 100%; */
       display: block;
   }

   #main {
       height: 100%;
       width: auto;
       max-height: 100%;
       max-width: 100%;
       overflow: hidden;
       text-align: left;
   }